<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnHub - {{.Title}}</title>
    <link rel="stylesheet" href="/static/styleMain.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    
</head>
<body>
    <header>
        <h1>LearnHub</h1>
    </header>
    <main>
        <div class="sidebar">
            <div class="user-profile">
                <img src="/static/Images/user.png" alt="User Profile Picture">
                {{- if ne .User.ID 0 }}
                    <div id="user-name"> {{.User.FirstName}} {{.User.LastName}} </div>
                {{- end }}
            </div>
            <div class="menu">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    {{- if ne .User.ID 0 }}
                        <li><a onclick="chargerFormulaireConnexion('/profil')" id="profil">Mon profil</a></li>
                        <li><a href="/deconnexion" id="deconnexion">Se déconnecter</a></li>
                    {{- else }}
                        <li><a onclick="chargerFormulaireConnexion('/inscription')" id="inscription">S'inscrire</a></li>
                        <li><a onclick="chargerFormulaireConnexion('/connexion')" id="connexion">Se connecter</a></li>                        
                    {{- end }}
                </ul>
            </div>
            <div class="domain-list">
                <h2>Domaines</h2>
                <ul>
                    {{ range .Domaine }}
                    <li>{{ .Nom }}
                        <ul>
                            {{ range .Themes }}
                                <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>

        <div class="content-wrapper">
            <form id="searchForm" action="/" method="GET">
                <input type="search" id="searchBar" name="query" placeholder="Rechercher...">
                <button type="submit">Recherche</button>
            </form>

            <div class="content" id="main">
	        <!-- Le contenu principal de notre page -->
	        <!-- <p>{{.Content.Videos}}</p> -->
                <div class="container" id="videosContainer">
                    {{- if .Content.Videos }}
                        <h2>Videos</h2>
                        <div id="videos">
                            {{- range .Content.Videos }}
                                <!-- <li>{{ .Titre }}</li> -->
                                <a href={{.Lien}}>
                                    <img id="documentThumbnail2" src="{{.Miniature}}" alt="{{.Titre}}">
                                    {{.Titre}}, {{.Auteur}}
                                </a>
                            {{- end }}
                        </div>
                    {{- end }}
                </div>
		        <!-- <p>{{.Content.Articles}}</p> -->
                <div class="container" id="articlesContainer">
                    {{- if .Content.Articles }}
                        <h2>Articles</h2>
                        <ul>
                            {{- range .Content.Articles }}
                                <li><a href={{.Lien}}>{{.Titre}}, {{.Auteur}}</a></li>
                            {{- end }}
                        </ul>
                    {{- end }}
                </div>
		    </div>
            {{- if ne .User.ID 0 }}
                <button onclick="chargerFormulaire()" id="buttonFormulaire" type="button">Add</button>
            {{- end }}
            <div class="content" id="formulaireContainer">
                <!-- Le contenu du formulaire sera inséré ici via AJAX -->
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>LearnHub; 2024</p>
    </footer>
    
    <script src="/static/script.js"></script>
    <script src="/static/scriptFormulaire.js"></script>
</body>
</html>
