/* styleMain.css */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #004080; /* Bleu foncé */
    color: #ffffff;
    text-align: center;
    min-height: 6vh;
}

main {
    display: flex;
    width: 100%;
    min-height: 86vh;
}



.sidebar {
    background-color: #cce7ff; /* Bleu clair */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    min-width: 300px;
    max-width: 400px;
    margin: 0;
}

.user-profile img {
    width: 100px;
    height: auto; /* Maintenir le ratio d'aspect */
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.user-profile p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.menu{
    background-color: #ffffff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    max-width: 300px;
    border: #004080 1px solid;
    border-radius: 5px;
}

.menu a {
    color: white;
    background-color: #004080;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block; /* Permet à l'élément de redimensionner selon le contenu */
    overflow: hidden; /* Cache le contenu débordant */
    margin: 10px;
    width: 60%; /* Permet à l'élément de s'étendre sur toute la largeur de son conteneur */
    max-width: 100%; /* Empêche l'élément de s'étendre au-delà de son conteneur parent */
}
.menu a:hover {
    color: #004080; /* Bleu foncé */
    background-color: #ffffff;
    border: 1px solid #004080;
    cursor: pointer;
}

.domain-list h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #004080; /* Bleu foncé */
}

/* Styles de base pour la liste */
.domain-list ul {
    margin-left: 5px;
    margin-right: 5px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Styles pour les éléments de liste */
.domain-list li {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    color: #333; /* Couleur du texte par défaut */
    position: relative; /* Nécessaire pour les sous-menus */
    border-bottom: 2px solid #4e4e4e;
    border-radius: 5px;
}

/* Styles pour les liens */
.domain-list li a {
    text-decoration: none;
    color: #333;
    display: block;
    background-color: #ffffff;
}
.domain-list li{
    background-color: #ffffff;
    margin: 5px 10px 5px 10px;
}
/* Styles pour les sous-menus */
.domain-list li ul {
    display: none; /* Cache les sous-menus par défaut */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #004080;
    border: 1px solid #4e4e4e;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    min-width: 200px;
    z-index: 1000; /* Assure que le sous-menu est au-dessus des autres éléments */
}

/* Affiche les sous-menus au survol */
.domain-list li:hover > ul {
    display: block;
}

/* Styles pour les éléments de sous-menu */
.domain-list li ul li {
    padding: 10px;
    white-space: nowrap; /* Empêche le texte de se casser */
}

/* Styles pour les éléments de sous-menu au survol */
.domain-list li ul li:hover {
    background-color: #00BFFF; /* Cyan */
    color: white;
}

/* Styles pour les éléments de liste au survol */
.domain-list li:hover {
    background-color: #004080; /* Cyan */
    color: white;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 100%;
    position: relative;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.content#formulaireContainer {
    margin-top: 40px;
}

form#searchForm {
    display: flex;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 40px;
}

form#searchForm input[type="search"] {
    flex: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
    max-width: 70%;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-style: bold;
}

form#searchForm button {
    border: none;
    background-color: #00BFFF; /* Cyan */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
    margin: 15px;
    font-style: bold;
    font-size: 20px;
}

form#searchForm button:hover {
    background-color: #009ACD; /* Cyan légèrement plus foncé */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    border-radius: 10px;
}

.container h2{
    width: 100%;
    text-align: center;
    padding: 10px 20px; 
    margin-left: 10px;
    margin-right: 10px;
    background-color: #004080; /* Bleu foncé */
    color: #ffffff;
    border-radius: 4px;
}

#articlesContainer {
   margin-top: 40px;
}
#articlesContainer a{
    width: 90%;
}

#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    max-height: 500px;
    width: 100%;
    margin: 8px;
}

#videos  a{
    justify-content: left;
    width: 100%;
    text-align: left;
}
#videos img {
    width: 50%;
    height: auto;
    border: #43a1ff 4px solid;
    border-radius: 5px;
}


div {
    text-align: center;
}

form {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px; /* Ajout d'un padding pour un meilleur espacement interne */
    box-sizing: border-box; /* Assure que le padding est inclus dans la largeur totale */
}

form label {
    display: block; /* Assure que les étiquettes sont affichées en bloc */
    margin-bottom: 5px; /* Espace entre l'étiquette et la zone de saisie */
    margin-top: 20px;
    font-weight: bold; /* Met en gras les étiquettes pour une meilleure lisibilité */
    color: #333; /* Couleur de l'étiquette */
}

form#documentForm {
    box-shadow: none;
    padding-top: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="url"],
select,
input[type="file"] {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}



a {
    text-decoration: none;
    color: #004080; /* Bleu foncé */
    padding: 10px 20px;
    border: 1px solid #004080;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block; /* Permet à l'élément de redimensionner selon le contenu */
    overflow: hidden; /* Cache le contenu débordant */
    margin: 10px;
    max-width: 100%; /* Empêche l'élément de s'étendre au-delà de son conteneur parent */
    font-size: 16px;
}

a:hover {
    background-color: #004080;
    color: white;
}


button {
    width: 80%;
    background-color: #00BFFF; /* Cyan */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #009ACD; /* Cyan légèrement plus foncé */
    cursor: pointer;
}


button#buttonFormulaire {
    background-color: #129b6d;
    color: white;
    padding: 10px 40px; /* Réduire la taille du bouton */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px; /* Réduire la taille de la police */
    display: inline-block;
    width: auto;
    position: fixed; /* Positionner de manière fixe */
    bottom: 10px; /* Espace depuis le bas de l'écran */
    right: 10px; /* Espace depuis la droite de l'écran */
    z-index: 1000; /* Assure que le bouton est au-dessus des autres éléments */
}

button#buttonFormulaire:hover {
    background-color: #1e8f49; /* Cyan légèrement plus foncé */
}

button#retourBtn {
    background-color: #ff0000; /* Rouge */
    color: white;
}

button#retourBtn:hover {
    background-color: #b30000; /* Rouge légèrement plus foncé */
}

.erreur {
    background-color: #ff0000; /* Rouge */
}

.footer {
    background-color: #f0f8ff; /* Bleu clair */
    text-align: center;
    width: 100%;
    min-height: 4vh;
}


ul {
    list-style-type: none;
    padding: 0;
}