/* styleMain.css */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #004080; /* Bleu foncé */
    color: #ffffff;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr; /* Barre latérale 200px, contenu principal prend le reste */
    flex: 1;
    width: 100%;
}

.sidebar {
    background-color: #cce7ff; /* Bleu clair */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    max-width: 300px;
    margin: 0;
}

.user-profile img {
    width: 100px;
    height: auto; /* Maintenir le ratio d'aspect */
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.user-profile p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.domain-list h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #004080; /* Bleu foncé */
}

.domain-list ul {
    list-style-type: none;
    padding: 0;
}

.domain-list li {
    font-size: 16px;
    padding: 5px 0;
    cursor: pointer;
    color: #333; /* Couleur du texte par défaut */
}

.domain-list li:hover {
    background-color: #00BFFF; /* Cyan */
    color: white;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 100%;
    position: relative;
}

form#searchForm {
    display: flex;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 40px;
}

form#searchForm input[type="search"] {
    flex: auto;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 70%;
    max-width: 70%;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

form#searchForm button {
    border: none;
    background-color: #00BFFF; /* Cyan */
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    width: 25%;
    margin: 15px;
}

form#searchForm button:hover {
    background-color: #009ACD; /* Cyan légèrement plus foncé */
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Centre les éléments horizontalement */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
}

.container h2{
    width: 100%;
    text-align: center;
    padding: 10px 20px; 
    margin-left: 10px;
    margin-right: 10px;
    background-color: #004080; /* Bleu foncé */
    color: #ffffff;
}

#articlesContainer {
   margin-top: 40px;
}

#videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;
    max-height: 500px;
    width: 100%;
    margin: 8px;
}

#videos  a{
    justify-content: left;
    width: 100%;
    text-align: left;
}
#videos img {
    width: 50%;
    height: auto;
    border: #43a1ff 4px solid;
}


div {
    text-align: center;
}

form {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px; /* Ajout d'un padding pour un meilleur espacement interne */
    box-sizing: border-box; /* Assure que le padding est inclus dans la largeur totale */
}

form label {
    display: block; /* Assure que les étiquettes sont affichées en bloc */
    margin-bottom: 5px; /* Espace entre l'étiquette et la zone de saisie */
    margin-top: 20px;
    font-weight: bold; /* Met en gras les étiquettes pour une meilleure lisibilité */
    color: #333; /* Couleur de l'étiquette */
}

form#documentForm {
    box-shadow: none;
    padding-top: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="url"],
select,
input[type="file"] {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 80%;
    background-color: #00BFFF; /* Cyan */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #009ACD; /* Cyan légèrement plus foncé */
}


a {
    text-decoration: none;
    color: #004080; /* Bleu foncé */
    padding: 10px 20px;
    border: 1px solid #004080;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block; /* Permet à l'élément de redimensionner selon le contenu */
    overflow: hidden; /* Cache le contenu débordant */
    margin: 10px;
    max-width: 100%; /* Empêche l'élément de s'étendre au-delà de son conteneur parent */
}

a:hover {
    background-color: #004080;
    color: white;
}

button#buttonFormulaire {
    background-color: #129b6d;
    color: white;
    padding: 5px 10px; /* Réduire la taille du bouton */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Réduire la taille de la police */
    display: inline-block;
    width: auto;
    position: absolute; /* Positionner de manière absolue */
    bottom: 10px; /* Espace depuis le bas du parent */
    right: 10px; /* Espace depuis la droite du parent */
}

button#buttonFormulaire:hover {
    background-color: #1e8f49; /* Cyan légèrement plus foncé */
}

button#retourBtn {
    background-color: #ff0000; /* Rouge */
    color: white;
}

button#retourBtn:hover {
    background-color: #b30000; /* Rouge légèrement plus foncé */
}

.footer {
    background-color: #f0f8ff; /* Bleu clair */
    text-align: center;
    width: 100%;
}
